# Ignore all...
*

# ... except the basic root ones
!.gitignore
!LICENSE
!README.md
!Makefile

# ... and what's useful for VSCode
!.vscode/
!.vscode/*.json

# ... and what's normally util in a C++ project
!include/
!include/**/
!include/**/*.hpp
!src/
!src/**/
!src/**/*.cpp
# ... including the testing part of it
!test/
!test/include/
!test/include/**/
!test/include/**/*.hpp
!test/src/
!test/src/**/
!test/src/**/*.cpp

# ... and also add documentation
!doc/
!doc/**/*.md
!doc/**/doc
!doc/**/README.md
!doc/**/LICENSE

# ... and finaly provide flexibility to control additional directories
!*/
!**/.gitignore
